*{
    color:#fff;
    text-decoration: none;
}

body{
    background-color:#0C101B ;
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
}

figure{
    margin: 0;
}

button{
    transition: background-color 0.3s;
    cursor: pointer;

    background-color:#E64A59 ;
    font-weight: 550;

    padding: 0 15px;
    height: 40px;

    border: 0;
    border-radius: 10px;
}
button:hover{
    transition: background-color 0.3s;
    background-color:#c02a39 ;
    cursor: pointer;
}
input{
    padding: 8px 32px 8px 12px;
    border: 1px solid #E64A59;
    border-radius: 10px; 
    font-size: 16px; 
    outline: none;
    width: 200px; 
    background-color: #0C101B;
}

.overflow{
    overflow-y: hidden;
   width: 95%;
   margin: 0 auto;
}
.overflow::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.overflow::-webkit-scrollbar-thumb {
    background-color:#E64A59;
    border-radius: 30px;
}

/* navigation */
header{
    height: 100px;    
    background-color: #0C101B;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 2;
    
    width: 100%;
    left: 0;
    top: 0;
}
.navigation-padding{
    padding: 0 20px;
    width: 100%;
}
.navigation-cover{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name-searching{
    display: flex;
    align-items: center;
}
.search {
    position: relative;
    display: inline-block;
} 
input[type="search"] {
    margin-left: 30px;
}
.search-img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    cursor: pointer;
}

.site-name{
    font-size: 30px;
    margin: 0;
    color: #E64A59;
    font-weight: 800;
}

.navigation-ul{
    list-style-type: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}
.navigation-li{
    cursor: pointer;

    transition: 0.1s;
    border-bottom: 0px solid #ffffff;
}
.navigation-li:hover{
    transition: 0.1s;
    border-bottom: 3px solid #E64A59;
}

.active-li{
    color: #454545;
    cursor:default;
}

.c3{
display: none;

    transition: 0.3s;
    position: absolute;
    top: 100px;
    width: 100%;

    left: 0;

    padding: 0;
    background-color: #121725;
    padding: 15px 20px;
}
.c3 li{
    transition: 0.5s;
    cursor: pointer;

    width: 33.3333333333%;
    list-style: none;
    box-sizing: border-box;
    float: left;
    padding: 10px 10px;
}
.c3 li:hover{
    transition: 0.5s;
    background-color: #0C101B;
}


/* main */
main{
    padding-top: 100px;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}
/* slider */
.slider{
    width: 100%;
    height: 500px;
}

.slider-box{
    box-shadow: 0px 0px 16px 20px #0C101B inset;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
}
.slider-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c101b80;
}


.slider-txt{
    margin-left: 30px;
    max-width: 500px;
    z-index: 1;
}
.slider-article{
    font-size: 50px;
    font-weight: 900;
}
.slider-description{
    color: #e5e5e5;
}


/* Suggestion */
.suggestions-div{
    display: flex;
    flex-direction: column;
    row-gap: 30px ;
    width: 95%;
    align-content: center;
    margin: 0 auto;
    margin-top: 30px;
}

.suggestion{
    border-bottom: 3px solid #ffffff28;
    padding-bottom: 20px;
}
.suggetion-list-title{
    margin-left: 10px;
    line-height: 5px;
    display: flex;
    align-items: center;
}
.suggetion-list-title p{
    color: #E64A59;
    text-decoration: underline;
    cursor: pointer;
    padding: 5px;
    font-size: 13px;
}

.suggestion-list{
    display: flex;
    column-gap: 40px;
    padding-bottom: 15px;
}
.suggetion-box{
    z-index: 0;

    min-width: 200px;
    max-width: 200px;
    height: 375px;
    overflow: hidden;
    position: relative;
}
.suggetion-box-img{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.suggetion-box img{
    width: auto;
    height: 100%;
}
.suggetion-txt{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.suggetion-txt h4{
    margin: 0;
    margin-top: 5px;
    font-size: 18px;
} 

/* Genre */
.genres{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    width: 98%;
    overflow: hidden;
}

.genre-div{
    position: relative;
    height: 350px;
    width: 220px;
}

.genre-img{
    box-shadow: 0px 0px 16px 20px #0C101B inset;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100%;

    transition: 0.3s;
}
.genre-txt{
    position: absolute;

    width: 100%;

    bottom: 0;
    padding: 0 30px;
    padding-bottom: 20px;

    background-color: #0c101ba7;
}
.genre-txt-titles{
    font-size: 14px;
    font-weight: 650;
    color: #E64A59;

    margin: 0;
}

.genre-div:hover .genre-img{
    transition: 0.3s;
    box-shadow: 0px 0px 5px 7px #0C101B inset;
}


/* login */
.login{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.login-centred{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login form{
    display: flex;
    flex-direction: column;
}
.login label{
    margin-top: 15px;
}
.login button{
    margin-top: 30px;
}

.login-cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
.reg-ask{
    font-size: 13px;
}
.reg-ask a{
    color: #E64A59;
    text-decoration: underline;
}
.reg-title{
    position: absolute;
    bottom: 235px;
}